<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <title>croisements</title>

    <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <p id="logo"><a href="#"><img src="/static/img/paris.jpg" class="img-responsive" alt="toto" width="170" height="170" alt=" logo" /> </a></p>

        <ul id="nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/apropos">A propos</a></li>
            <li><a href="#"></a></li>
            <li><a href="contact">Contact</a></li>
        </ul>


        <br><br><br>
        <aside>Formidable époque artistique que celle qui se situe à la charnière de la fin du 19 siècle et du début du 20 ème. Fourmillement d'artistes, artistes qui "se parlent" , qui fréquentent avec des disciplines différentes les mêmes salons, qui s'inspirent, qui se concurrencent. Avec un Jean Cocteau à la baguette et un Paris au centre de l'Art.</aside>

    </div>
    <br><br>
    <aside><a href="https://fr.wikipedia.org/wiki/Groupe_des_Six_(musique)">  le groupe des 6  </a> </aside>

    <div id="conteneur">


        <img src="/static/img/parade.jpg" class="imageflottante" class="img-responsive" width="220" height="380" alt=" non trouvée" />

        <img src="/static/img/groupe_des_6.jpg" class="imageflottante" class="img-responsive" width="603" height="380" alt=" non trouvée" />
        <div class="imageflottante">
            <aside style="width: 250px;font-style: italic;color:bisque"> Ce site a pour ambition de cerner les relations artistiques de cette époque au travers de documents de l'époque ou d'analyses plus contemporaines</aside>
        </div>



    </div>
    <script src="/static/jq-hello-world.js"></script>
</body>

</html>


<!-- <h1>{{ question.question_text}} </h1> -->
