<!DOCTYPE html> {% load static %}

<head>
    <title>croisements/documents</title>


    <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>



    <div id="container">

        <ul id="nav1">
            <li><a href="/">Accueil</a></li>

            <li><a href="/apropos">A propos</a></li>
            <li><a href="#"></a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>


        <p>
            {% for i in nom_artiste %}
            <img src="/static/img/{{i.artiste_nomjpg}}.jpg" class="img-responsive" alt="non trouvee" width="200" height="197"> {% endfor %}</p>










        <br> <br> <br> <br> <br> <br> {% for i,value in dico_liste_documents.items %} {% for k in value %}


        <ul class="list-unstyled">


            <li><a href="{{k.documents_adresse}}"> {{k.documents_commentaires }}   </a></li> {% endfor %}






        </ul>
        {% endfor %}
        <br> <br> <br> <br> <br> <br>

    </div>




</body>

</html>
