<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>croisements/documents</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>



    <div id="container">

        <ul id="nav1">
            <li><a href="/">Accueil</a></li>

            <li><a href="/apropos">A propos</a></li>
            <li><a href="#"></a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>


        <p>
            {% for i in nom_artiste %}
            <img src="/static/img/{{i.artiste_nomjpg}}.jpg" class="img-responsive" alt="non trouvee" width="200" height="197"> {% endfor %}</p>










        <br> <br> <br> <br> <br> <br> {% for i,adresse in dico_liste_documents.items %}


        <ul class="list-unstyled">

            <li><a href="{{adresse}}"> document  </a></li>






        </ul>
        {% endfor %}
        <br> <br> <br> <br> <br> <br>

    </div>




</body>

</html>
